<div class="container">
  <h1>Playing game with <%= current_deck_name %> Deck</h1>

  <h4>Question:</h4>
  <% if @wrong_answer %>
    <p><%= @wrong_answer %></p>
  <% end %>
  <p class="question"><%= current_card.question %><p>
  <form action = "/current_game" method="post">
    Answer?: <input type="text" name="answer" />
    <input type="submit" value="Answer!" class="submit_button" />
  </form>
  <div>
    <a href="/current_game/action/skip">Skip Question</a>
    <a href="/current_game/action/quit">Quit</a>
  </div>
  Turn: <%= session[:game_counter]%><br/>
  Card: <%= session[:game_card_counter]%> of <%= Card.all.count %><br/>
  Skipped: <%= session[:game_skip_counter] %> Cards
  <br/><br/>
  <p>Correct Answers: <%= session[:game_correct_answer] %></p>
  Incorrect Answers: <%= session[:game_incorrect_answer] %>
</div>
