<div class="container">
	<%= erb :_nav %>
	<h1>Your Stats</h1>
	<% @rounds.each do |stat| %>
	   <div>
        <p>----------------------------------</p>
        <p>Round: <%= stat.round_count%></p>
        <p>Correct: <%= stat.correct_total %></p>
        <p>Incorrect: <%= stat.incorrect_total %></p>
        <p>Skipped: <%= stat.skip_total %></p>
      </div>
	<% end %>
     <%= erb :_calculations %>
</div>
